
primary-color = #9999f7
primary-border = 2px solid primary-color

body
    max-width 1024px
    margin 0 auto

.led 
    display: inline-block
    width: 0.6em
    height: 0.6em
    border-radius: 0.6em
    margin-top: 0.4em
    background-color: #cccccc

.led-green
    background-color: #33cc33

.led-orange
    background-color: orange

.led-blue
    background-color: primary-color

.led-red
    background-color: red

// List styles
li > p:first-child
    margin: 0

@import "styles/header"

section, cell, codecell
    display: block

section
    border-width: 0 1px
    border-style: dashed
    border-color: transparent
    border-right-width: 0
    margin-left: 2px

    section
        margin: 0 0 -3px
    
    cell
        margin-left: -3px

    &.selected
        border-color: primary-color 
        border-right-color: transparent

        &:before,
        &:after
            display: block
            width: 4px
            border-bottom: 1px solid primary-color 
            content: "."
            color: transparent
            height: 0

        



#backlinks
    color: tint(black, 60%)

a[wikilink="true"]
    &:before,
    &:after
        color: grey
    &:before 
        content: '['
    &:after 
        content: ']'

a > .linkIcon 
    display: inline
    font-size: 0.8em
    padding-right: 0.6em
    padding-left: 0.3em

@import "styles/cell"

@import "styles/codecell"

cell, codecell
    position: relative
    @import "./styles/cellmenu"

@import "styles/viewers"

#backlinks,
.footnotes
    padding: 0 1em;
