
primary-border = 2px solid #9999f7

body
    max-width 1024px
    margin 0 auto

// List styles
li > p:first-child
    margin: 0

@import "styles/header"

section, cell, codecell
    display: block

#backlinks
    color: tint(black, 60%)

a[wikilink="true"]
    &:before,
    &:after
        color: grey
    &:before 
        content: '['
    &:after 
        content: ']'

@import "styles/cell"

@import "styles/codecell"

cell, codecell
    position: relative
    @import "./styles/cellmenu"

codecell 
  @import "styles/viewers"

#backlinks,
.footnotes
    padding: 0 1em;