body
    max-width 1024px
    margin 0 auto

#header
    top: 0
    position: sticky
    background-color: white
    z-index: 99999
    border-bottom: 1px solid #efefef;

    & > header
        display: flex
        padding: 0.6em
        gap: 0.6em
        

section, cell, codecell
    display: block

#backlinks
    color: tint(black, 60%)

a[wikilink="true"]
    &:before,
    &:after
        color: grey
    &:before 
        content: '['
    &:after 
        content: ']'

@import "styles/cell"

@import "styles/codecell"

cell, codecell
    position: relative
    @import "./styles/cellmenu"

codecell 
  @import "styles/viewers"

#backlinks,
.footnotes
    padding: 0 1em;