body {
  max-width: 1024px;
  margin: 0 auto;
}
#header {
  top: 0;
  position: sticky;
  background-color: #fff;
  z-index: 99999;
  border-bottom: 1px solid #efefef;
}
#header > header {
  display: grid;
  padding: 0.6em;
  gap: 0.6em;
}
section,
cell,
codecell {
  display: block;
}
#backlinks {
  color: #999;
}
a[wikilink="true"]:before,
a[wikilink="true"]:after {
  color: #808080;
}
a[wikilink="true"]:before {
  content: '[';
}
a[wikilink="true"]:after {
  content: ']';
}
cell {
  padding: 0.6em;
  margin: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 1px 3px;
}
cell > *:first-child {
  margin-top: 0;
}
cell.selected {
  border-color: #9999f7;
}
cell.editing {
  padding: 0;
}
cell:not(.code) code {
  border: 1px solid rgba(0,0,0,0.071);
  padding: 0 0.2em;
  background-color: rgba(0,0,0,0.02);
  border-radius: 2px;
}
codecell > .meta {
  font-family: monospace;
}
codecell > .meta .lang {
  font-weight: bold;
  margin-right: 0.4em;
}
codecell > .meta .repl {
  font-style: italic;
  color: #999;
  margin-right: 0.4em;
}
codecell > .meta .filename {
  color: #999;
  margin-right: 0.4em;
}
codecell > .meta ul,
codecell > .meta ol {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
codecell > .meta ul li,
codecell > .meta ol li {
  padding: 0 0.2em;
  margin: 0 0.2em;
  border-radius: 2px;
  background-color: #e5e5e5;
}
codecell > .meta .tag:before {
  content: '#';
}
codecell > .meta .directive:before {
  content: '!';
}
codecell pre {
  margin: 0;
  padding: 0.4em;
  min-height: 1em;
  background-color: #2f4f4f;
  color: #fff;
  white-space: pre-wrap;
}
codecell > output > pre {
  background-color: #fff;
  color: #000;
}
cell,
codecell {
  position: relative;
}
cell > menu,
codecell > menu {
  margin: 0;
  padding: 0;
  z-index: 99999;
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0.5em;
  display: flex;
  place-items: flex-end;
  pointer-events: none;
}
cell > menu .menu__items,
codecell > menu .menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: sticky;
  bottom: 50%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-direction: row;
  gap: 0.5em;
  padding-right: 0.5em;
}
cell > menu .menu__items li,
codecell > menu .menu__items li {
  background-color: #9999f7;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  overflow: hidden;
  margin: 0 0.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: all;
  color: #fff;
  line-height: 1;
}
codecell > iframe {
  display: block;
  width: 100%;
}
codecell > table {
  border-collapse: collapse;
  border: 1px solid #ccc;
}
codecell > table td {
  padding: 0.4em;
}
#backlinks,
.footnotes {
  padding: 0 1em;
}
