    & > menu
        margin: 0;
        padding: 0;
        z-index: 99999;
        position: absolute;
        top: 0.5em;
        left: 0;
        right: 0;
        bottom: 0.5em;
        display: flex;
        place-items: flex-end;
        pointer-events: none;

        .menu__items
            list-style: none
            margin: 0
            padding: 0;
            pointer-events: none;
            position: sticky;
            bottom: 50%;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            flex-direction: row;
            gap: 0.5em;
            padding-right: 0.5em;

            li 
                background-color: #9999f7;
                width: 2em;
                height: 2em;
                border-radius: 1em;
                overflow: hidden;
                margin: 0 .25em;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                pointer-events: all;
                color: white;
                line-height: 1;