codecell
    code-cell-spacing = 0.4em

    &.collapsed
        & > *:not(.meta)
            display: none !important

        & > .meta .lang:before
            display: inline-block
            content: "▸"
            padding-right: 0.4em

    &.fullscreen
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        z-index: 9999
        background-color: white
        overflow: scroll
        box-sizing: border-box
        height: auto
        width: auto
        padding: 0.6em

        & > iframe
            height: 100%

        .meta .directives .directive.dir-inline
            color: white
            background-color: green
         

    & > .meta
        font-family monospace
        display: block

        .lang
            font-weight bold
            margin-right code-cell-spacing
        
        .repl
            font-style: italic
            color: tint(black, 60%)
            margin-right code-cell-spacing

        .filename
            color: tint(black, 60%)
            margin-right code-cell-spacing
        
        ul, ol
            display inline-flex
            margin 0
            padding 0
            list-style none
            flex-direction: column
            
            li 
                padding 0 (code-cell-spacing / 2)
                margin 0 (code-cell-spacing / 2)
                border-radius 2px
                background-color: tint(black, 90%)
        .tag
            &:before
                content '#'
        .directive
            &:before
                content '!'
    & pre
        margin: 0
        padding: code-cell-spacing
        min-height: 1em
        background-color: darkslategrey
        color: white
        white-space: pre-wrap
    
    & > output > pre
        background-color: white
        color: black
