pre
    white-space: pre-wrap
    margin: 0
    padding: 0

    code
        margin: 0
        padding: var(--medium-space)
        min-height: 1em

a.codecell-anchor 
    outline: 0
    text-decoration: none
    color: inherit

.codecell
    pre code
        display: block
        padding: var(--medium-space)
        background-color: var(--code-bg-color);
        color: var(--code-text-color);

    &.collapsed,
    &.dir-collapse:not(.uncollapsed)
        & > *:not(.meta)
            display: none !important

        & > .meta .lang:before
            display: inline-block
            content: "▸"
            padding-right: var(--medium-space)
        
        .dir-collapse
            display: none

    &.fullscreen
        position: fixed
        top: 2em
        bottom: 0
        left: 0
        right: 0
        z-index: 9999
        background-color: var(--bg, white);
        overflow: scroll
        box-sizing: border-box
        height: auto
        width: auto
        padding: 0.6em
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        & > iframe
            height: 100%

        .meta .directives .directive.dir-inline
            color: white
            background-color: green
    
    &.remote > .meta > .source 
        color: green
        font-weight: bold

    &.local > .meta > .source
        color: #ccc
        font-style: italic

    &.dir-hidemeta:not(.dir-showmeta),
    &.output.lang-md:not(.dir-showmeta),
    &.output.lang-lit:not(.dir-showmeta)
        & > .meta
            display: none
    
    &.dir-below > pre
        margin-bottom: var(--medium-space)

    &.dir-above > .meta
        margin-top: var(--medium-space)

    & > .meta
        font-family monospace
        display: block
        margin: 0.2em 0

        .lang
            font-weight bold
            margin-right var(--medium-space)
        
        .repl
            font-style: italic
            color: tint(black, 60%)
            margin-right var(--medium-space)

        .source,
        .output
            margin-right: var(--medium-space)

        .filename
            color: tint(black, 60%)
            margin-right var(--medium-space)
        
        .tag, .directive, .attribute
                display: inline-block
                padding: 0 var(--medium-space) 
                margin-right: var(--medium-space)
                border-radius 2px
                background-color: tint(black, 90%)
        .tag
            &:before
                content '#'
        .directive
            &:before
                content '!'
    & pre
        margin: 0
        padding: 0
        min-height: 1em
        white-space: pre-wrap

        & ~ *:not(.meta)
            margin-top: var(--medium-space)
    
    .updatedAt
        cursor pointer
        font-family: monospace
        font-size: 0.8em;
        color: #999
        text-align: right
        .Time
            font-weight: bold
    

// Code Mirror overrides

#lit-app .editor
    background-color: var(--code-bg-color)
    color: var(--code-text-color)

    .cm-content
        caret-color: var(--code-highlight-text)

    .cm-cursor
        border-left-color: var(--code-active-text)
    
    .cm-gutters
        background-color: var(--code-bg-color)
        color: var(--text-secondary-color)
        border-right-color: var(--text-secondary-color)

        .cm-activeLineGutter
            background-color: var(--code-active-bg)
            color: var(--code-active-text)

    .cm-activeLine.cm-line
        background-color: var(--code-active-bg)
        color: var(--code-active-text)

    .cm-focused
        outline: 0 none
    
    .cm-selectionBackground
        background: var(--code-highlight-bg)

    .cm-tooltip
        background-color: var(--code-bg-color)
        border-color: var(--text-secondary-color)
        color: var(--code-text-color)

        ul li[aria-selected]
            background: var(--code-highlight-bg)

    .cm-completionIcon-link:after
        content: '🔗'

.codecell.dir-error pre
  border: 2px solid red

