
& > iframe 
  display: block

& > table
  tr
    border-bottom: 1px solid #ccc

    td
      border-right: 1px solid #ccc
      border-bottom: 1px solid #ccc

      &:last-child
        border: 0 none
