
codecell > iframe 
  display: block
  width: 100%

codecell > table
  border-collapse: collapse
  border: 1px solid #ccc
  
  td
    padding: 0.4em

.md-block.dir-note, 
.md-block.dir-info,
.md-block.dir-warn,
.md-block.dir-box,
.md-block.dir-success,
.md-block.dir-error {
  color: #666;
  padding: 0.4em;
  border: 1px solid #ccc;
  background-color: rgba(0,0,0,0.01);
  border-radius: 2px;
}

.md-block > *:first-child { margin-top:0; }
.md-block > *:last-child { margin-bottom:0; }

.md-block.dir-error {
  color: red;
  border-color: red;
  background-color: rgba(255, 0,0,0.05);
}
.md-block.dir-warn {
  border-color: orange;
  background-color: rgba(255, 0,0,0.05);
}
.md-block.dir-info {
  border-color: blue;
  background-color: rgba(0,0,255,0.05);
}
.md-block.dir-success {
  border-color: green;
  background-color: rgba(0,255,0,0.05);
}
