body {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1em;
}

.cell, .LitCode {
    padding: 0.4em;
    margin: 0;
}

.cell > *:last-child {
    margin-bottom: 0;
}

.cell > *:first-child {
    margin-top: 0;
}

.LitLink.internal.new {
    color: red;
    text-decoration: underline;
}

.LitCode > .meta {
    font-family: monospace;
}