body
    max-width 1024px
    margin 0 auto
    --bg: white
    --bg-secondary-color: #efefef;
    
    --text-color: black
    --text-secondary-color: grey
    --text-primary-color: #9999f7
    --text-highlight-bg: yellow
    --text-highlight-color: black;
    --divider-subtle: #efefef
    --medium-space: 0.4em

    --code-bg-color: black;
    --code-text-color: #efefef;
    --code-active-bg: #333;
    --code-active-text: white;
    --code-highlight-bg: var(--text-primary-color);
    --code-highlight-text: var(--text-highlight-color);

    --box-bg-opacity: 0.05;

    color: var(--text-color)
    background-color: var(--bg)

h1
    font-size: 1.7em
h2
    font-size: 1.4em
h3
    font-size: 1.2em
h4
    font-size: 1.1em
h5
    font-size: 1em
h6 
    font-size: 0.8em
    text-transform: uppercase

blockquote
    padding: 0 1em;
    border-left: 3px solid var(--text-secondary-color);
    margin: 0;
    color: var(--text-secondary-color);

a[wikilink="true"]
    text-decoration: none

    &:before,
    &:after
        color: var(--text-secondary-color)
    &:before 
        content: '['
    &:after 
        content: ']'

a > .linkIcon 
    display: inline
    padding-right: 0.3em
    padding-left: 0.3em

a
    text-decoration: none
    color: var(--text-primary-color)

a.local:not(.exists) 
    color: red


// List styles
li > p:first-child
    margin: 0

.task-list-item
    list-style: none
    margin-left: -1.5em

@import "styles/header"

#xxxxx content [id]:before
    content: ''
    display: inline-block
    height: 50px
    margin-top: -50px
    visibility: hidden
    pointer-events: none

:target {
  background-color: transparent;
  animation: highlight 1000ms ease-out;
}
@keyframes highlight {
  0% {
    background-color: var(--text-highlight-bg);
  }
  100% {
    background-color: transparent;
  }
}

.cell-content
    overflow: hidden

section, .cell, .codecell
    display: block

section
    border-width: 0 1px
    border-style: dashed
    border-color: transparent
    border-right-width: 0
    margin-left: 2px

    section
        margin: 0 0 -3px
    
    .cell
        margin-left: -3px
    
    &:before,
    &:after
        display: block
        width: 4px
        border-bottom: 1px solid transparent
        content: "."
        color: transparent
        height: 0

    &.selected
        border-color: var(--text-primary-color)
        border-right-color: transparent

        &:before,
        &:after
            display: block
            width: 4px
            border-bottom: 1px solid var(--text-primary-color) 
            content: "."
            color: transparent
            height: 0


@import "styles/cell"
@import "styles/codecell"

.cell, .codecell
    position: relative
    @import "./styles/cellmenu"

@import "styles/viewers"

#backlinks,
.footnotes
    padding: 0 1em;

