
primary-border = 2px solid #9999f7

body
    max-width 1024px
    margin 0 auto

#header
    top: 0
    position: sticky
    background-color: white
    z-index: 99999
    border-bottom: 1px solid #efefef;

    *[disabled] 
        opacity: 0.5
        font-style: italic
        cursor: default

    menu
        margin: 0
        padding: 0
        display: flex
        flex-direction: row
        position relative
        white-space: nowrap

        .MenuTitle
            list-style: none
            cursor: pointer
            display: flex
            padding-right: 0.6em

        .MenuItems
            list-style: none
            cursor: pointer
            display: flex
            flex-direction: column

        &.open > .MenuTitle
            // font-weight: bold
        
        &:not(.horizontal) > .MenuItems 
            & > * 
                padding-top: 0.4em
                &:first-child 
                    padding-top: 0

            & > menu
                display: flex
                flex-direction: column

                & > .MenuTitle:after
                    padding: 0 .4em
                    content: '\203A'

                &.open > .MenuTitle:after
                    transform: rotate(90deg)

                & > .MenuItems
                    position: static
                    padding-top: 0.4em

                    & > *
                        padding-left: 0.4em
                        border-left: primary-border

        &.open:not(.horizontal)

            & > .MenuItems
                position: absolute
                top: 1.6em
                background-color: white
                padding: 0.6em
                margin: 0 -0.6em
                box-shadow: 0 3px 3px rgba(0,0,0,0.2)
                min-width: 100%
                padding-top: 0;

        &.horizontal
            display: flex
            flex-direction: row
            padding: 0.6em

            & > li 
                flex-direction: row


section, cell, codecell
    display: block

#backlinks
    color: tint(black, 60%)

a[wikilink="true"]
    &:before,
    &:after
        color: grey
    &:before 
        content: '['
    &:after 
        content: ']'

@import "styles/cell"

@import "styles/codecell"

cell, codecell
    position: relative
    @import "./styles/cellmenu"

codecell 
  @import "styles/viewers"

#backlinks,
.footnotes
    padding: 0 1em;